<template name="stores">
    {{flash top}}
    {{#if globalAdminUser}}
        <div class="ui labeled icon add button hidden-print pull-left"
             data-toggle="modal" data-target="#addStore"
             id="add-button"
                >
            <i class="big plus icon"></i>
            Add New Store
        </div>
        <div class="pull-left">{{storeCount}} total stores. </div>
    {{/if}}
    <div class="table-responsive">
        {{> reactiveTable settings=rtSettings}}
    </div>
    {{> addStoreModalOuter}}
    {{> editStoreModalOuter}}
    {{> delStoreModalOuter}}
</template>
<template name="store">
    <div id="pageContainer"
         style="
         margin: 100px auto;
         width: 400px;
         ">
        {{#if sRec}}
            {{#if sChanged}}
                <h1>You have changed to:</h1>
            {{else}}
                <h1>Current store: </h1>
            {{/if}}
            {{> quickForm
                id="showCurrentStoreForm"
                doc=sRec
                collection="Stores"
                operation="update"
                type="readonly"
                buttonContent=false
            }}
        {{/if}}
        {{#if lRec}}
            {{#if $neq lRec sRec}}
                {{#if lChanged}}
                    <h1>You have changed the default store to:</h1>
                {{else}}
                    <h1>Default store for this browser: </h1>
                {{/if}}
                {{> quickForm
                    id="showDefaultStoreForm"
                    doc=lRec
                    collection="Stores"
                    operation="update"
                    type="readonly"
                    buttonContent=false
                }}
            {{/if}}
        {{else}}
            <p>(There is currently no default store.)</p>
        {{/if}}
        {{#if rRec}}
            <div id=changeDefaultStore class="ui button negative" >
                Change default store to {{name}}
            </div>
        {{/if}}
    </div>
</template>

<template name="addStoreModalOuter">
    <div id="addStore" class="modal fade" tabindex="-1" data-width="760" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                {{> addStoreModal}}
            </div>
        </div>
    </div>
</template>

<template name="addStoreModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Add New Store</h2>
    </div>
    <div class="modal-body">
        {{> quickForm
            id="addStoreForm"
            collection="Stores"
            schema="Schemas.store"
            type="insert"
            buttonContent="Create"
        }}
        <p>A link to set your password for user "admin" will be sent to this address.</p>
    </div>
</template>

<template name="editStoreModalOuter">
    <div id="editStore" class="modal fade" tabindex="-1" data-width="760" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                {{> editStoreModal}}
            </div>
        </div>
    </div>
</template>
<template name="editStoreModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Edit Store</h2>
    </div>
    <div class="modal-body">
        {{> quickForm
            id="editStoreForm"
            collection="Stores"
            doc=doc
            type="update"
            buttonContent="Update"
        }}
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary">Done</button>
    </div>
</template>

<template name="delStoreModalOuter">
    <div id="delStore" class="modal fade" tabindex="-1" data-width="760" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                {{> delStoreModal}}
            </div>
        </div>
    </div>
</template>
<template name="delStoreModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title">Delete Store</h2>
    </div>
    <div class="modal-body">
        {{> quickForm
            id="delStoreForm"
            collection="Stores"
            doc=doc
            type="readonly"
        }}
    </div>
    <div class="modal-footer">
        {{#if count}}
            {{doc.name}} cannot be removed.
        {{else}}
            <button id="delStoreButton" type="button" class="btn btn-danger">Delete {{doc.name}}</button>
        {{/if}}
        <button type="button" data-dismiss="modal" class="btn btn-primary">Close</button>
    </div>
</template>

<template name="ctrl">
    <span data-toggle="modal" data-target="#editStore" class="glyphicon glyphicon-pencil clickable"></span>
    <span data-toggle="modal" data-target="#delStore" class="glyphicon glyphicon-trash clickable"></span>

</template>
