.reactive-table thead th.action {
//  width: 320px;
  width: 160px;
}
#inputArea {
  height: 60px;
  background-color: lightgreen;
  border-style: dashed;
}
#gototop {
  bottom: 0;
  position: fixed;
  right: 0;
  opacity: 0.5;
  &:hover {
    opacity: 0.9;
  }
}