<template name="drugs">
    {{flash}}
    {{> insertDrug}}
    {{> drugsToggle}}
    <div class="table-responsive">
        {{> reactiveTable collection=products settings=rtSettings}}
    </div>
</template>

<template name="drugsToggle">
    <div class="col-sm-5 pull-right">
        <div class="ui toggle checkbox hidden-print">
            <!--suppress HtmlFormInputWithoutLabel -->
            <input name="all" type="radio">
            <label>Show <b>all</b> drugs. &nbsp;</label>
        </div>
        {{activeDrugsCount}} / {{allDrugsCount}} active
    </div>
</template>

<template name="insertDrug">
    <div class="hidden-print">
      <div class="pull-left" style="padding: 9px">
          <button id="add-button" class="btn btn-primary tgl-btn">show/hide Add Drug form</button>
      </div>
      <div id=DruginputForm class="hidden form-inline ">
        {{#autoForm
          collection=Collections.products
          id="insertDrugForm"
          type="insert"
          }}
        <fieldset>
            {{> afQuickField name="NDC" autofocus="" label=false placeholder="NDC number"
                style="width:140px"
            }}
            {{> afQuickField name="desc" label=false placeholder="Drug Name" }}
            {{> afQuickField name="dose" label=false placeholder="Dosage"
                style="width:140px"
            }}
            {{> afQuickField name="form" label=false placeholder="Form"
                style="width:140px"
            }}
            {{> afQuickField name="pkgSize" label="pkg:" placeholder="qty"
                style="width:100px;padding-bottom: 0.5em;padding-top: 0.5em;"
            }}
            {{> afQuickField name="supplier" label=false placeholder="Supplier" }}
            <button type="submit" class="btn btn-primary ">Add This</button>
            <button type="reset" class="btn btn-default ">Clear Values</button>
        </fieldset>
        {{/autoForm}}
      </div>
    </div>
</template>

