// General styles, e. g. for the body tag
@import 'helpers.less';
@import 'variables.less';
@import 'lib/elements.less';

/* -------------------
    Main Content
   ------------------- */

body, #main {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Fauna One', serif;
}

#main {
    margin: 0px 4px 0px 0px;
}
*::-moz-selection { color: white;  background: deepskyblue; }
//    override bad setting somewhere

a {
    color: inherit;
    transition: 0.3s color;

    &:hover {
        color: @primaryLinkHoverColor;
    }
}

.icon {
    &.orange {
        color: @html5Orange;
    }
}

.ui.header {
    font-family: 'Glegoo', serif;
}

.full-width {
    width: 100%;
}

.clickable {
    cursor: pointer;
}
#addUserForm button.btn {
    margin-top: -10px;
}
/* -------------------
    Footer
   ------------------- */
.padding-wrapper.footer {
    border-radius: 0px;

    a:hover {
        color: @secondaryLinkHoverColor;
    }
}

/* -------------------
    Progress bar
   ------------------- */

#iron-router-progress {
    background-color : #988aac;
    box-shadow       : 0 0 5px #884fbf;
}

#iron-router-progress.spinner:before {
    border-color : #dfdfdf;
}

.clear {
    position: absolute;
    right: 0;
    top: 5px;
    z-index: 2;
    padding: 2px 0 5px;
    cursor: pointer;
}

ul.quickKey {
    list-style: none;
}

// responsive table fix to hide horizontal scroll bar when not needed
.table-responsive {
    overflow-x: visible;
}
#balanceCheckList {
    margin: 20px;
}
.browser-warning {
    color: red;
    font-size: x-large;
    background-color: yellow;
}

