<template name="basicLayout">
    <a href="#main" class="sr-only sr-only-focusable">Skip to main content</a>
    <header>
        {{> header}}
    </header>
    <div id="main">
        {{> yield}}
        {{! Also a sidebar! }}
    </div>
    <footer>
        {{> footer}}
    </footer>
</template>
<template name="loading">
    Please wait...
    {{>spinner}}
</template>
