<template name="changeLog">
{{#markdown}}
 - 0.5.1 - Bring back Trial site
 - 0.5 - activate drug automatically by adding a quantity
 - 0.4.6 - better emails when adding store
 - 0.4.5 - basic login page in addition to login drop down
 - 0.4.4 - separate app from landing page
 - 0.4.3 - Balance screen.  Creating a new snapshot will add any newly activated drugs to the list
 - 0.4.2.1 - Balance screen.  Display warning if new drugs activated.
 - 0.4.2 - Receiving an inactive drugs now works correctly and makes it active
 - 0.4.1.1 - [ENTER] will only work in drugs screen if there is one and only one matchin drug record
 - 0.4.1 - [ENTER] will only work in drugs screen if NDC number matches exactly
 - 0.4.0 - add multiple instances and buttons;  Allow anonymous store creation on Trial and Test site
 - 0.3.8 - show server state on home page and remind upon login
 - 0.3.7 - add spinner is page is loading
 - 0.3.6 - all  pages now show correct document title
 - 0.3.5 - all screen now print well and added a "Logout" link
 - 0.3.4.3 - all screens now responsive (works on phone)
 - 0.3.4.2 - tighten up header and footer
 - 0.3.4 - now works on phone browsers too!  (not every page looks great yet)
 - 0.3.3 - quick select in Shipments screen; return to drugs after trx entry
 - 0.3.2 - store NDCs without dashes & limit new NDC values
 - 0.3.1.1 - add "*" to emails not validated (admin screen)
 - 0.3.1 - Added "mobile" users
 - 0.3 - added shortcut keys to help dialog
 - 0.2.15 - added this help dialog
 - 0.2.14 - fix filter on Store Users
 - 0.2.13 - put ENTER and ESC logic into all filter inputs
{{/markdown}}
</template>
<template name="old doc">
 - 0.2.12 - drug details screen.
    - a) focus on rx
    - b) skip to qty on ENTER
    - c) add Back button
 - 0.2.11 - input changes on Drugs screen.
    - a) focus on filter
    - b) clear with ESC (or click on x)
    - c) ENTER selects first on list
 - 0.2.10 - set store from URL and reset store if logged in somewhere else
 - 0.2.9.2 - new store selector from stores screen
 - 0.2.9 - fix posting transactions from balance
 - 0.2.8.2 - fix refresh issue (was setting user's activeStore wrong on code change)
 - 0.2.8.1 - fix validation for transaction entry
 - 0.2.8 - Receiving works now, even for non-active drugs
 - 0.2.7 - fixed all visual aspects of Receiving screen
</template>
