@import '../../stylesheets/variables.less';
@import '../../stylesheets/lib/elements.less';


.header-wrapper {
  //noinspection CssUnknownTarget
  background-image: url('/images/background/background1.jpg');
    background-position: 100% 100%;
    transition: height 0.8s;
        color: @secondaryFontColor;

    .header {
        font-size: 3em;
        color: @secondaryFontColor;
        &:hover, &.active {
          color: @secondaryFontColor !important;
        }
    }

    .resize.button {
      margin-top: -74px;
      font-size: 1.5em;
      float: left;
    }

    .angle.icon {
        color: @secondaryFontColor;
    }

    a:hover {
        color: @secondaryLinkHoverColor;
    }

    &.active {
        height: 920px;
    }
}

.version {
  color: gray;
}
// footer //
.secondary {
  color: @secondaryFontColorVariation;
}

// navbar size fixes /////////////

.navbar {
  margin: 0;
}
.container-fluid {
  background-color: #5bbd72 ;
}
.navbar-nav > li > a {
  font-size: 12px;
  color: #afdfaf !important;
  &:hover, &.active {
    color: @primaryIconColor !important;
  }
}
.navbar-nav.navbar-right {
  display: table;   // fix so Chrome doesn't wrap
}
.top-site-buttons {
  padding: 50px 20px 150px 20px;
}
.state-info {
  font-size: large;
  font-weight: bolder;

}
