<!--suppress HtmlUnknownTarget -->
<template name="header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor 'store' data=dataId}}">
                    {{company}}
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" >
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="/drugs"
                           class=" {{ isActivePath regex='drugs|drug'}}">
                        <i class="unordered list large icon"></i>
                        Drug List</a>
                    </li>
                    {{#if multiStore}}
                        <li><a href="/stores"
                               class="{{ isActiveRoute regex='stores'}}">
                            <i class="building large icon"></i>
                            Stores</a>
                        </li>
                    {{/if}}
                    {{#if adminUser}}
                        <li><a href="/admin"
                               class="{{ isActiveRoute regex='admin'}}">
                            <i class="users large icon"></i>
                            Store Users</a>
                        </li>
                    {{/if}}
                    <li><a href="/shipments"
                           class="{{ isActivePath regex='shipments|shipment'}}">
                        <i class="shipping large icon"></i>
                        Receiving</a>
                    </li>
                    <li><a href="/balance"
                           class="{{ isActiveRoute regex='balance'}}">
                        <i class="anchor large icon"></i>
                        Balance</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="" href="{{pathFor 'home'}}">
                        <i class="large info icon"></i>
                        About
                    </a></li>
                    <i id="userIcon" class="hidden user login icon {{globalColor}}"></i>
                    {{> loginButtons}}
                    {{#if currentUser}}
                        <li id="logoutBtn"><a href="#">
                            Logout
                        </a></li>
                    {{/if}}
                    <li >
                        <a data-toggle="modal" data-target="#helpModal">
                            <i class="large help clickable icon"></i>
                            <span title="Software version" class="version">{{version}}</span>
                        </a>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="center  header-wrapper hidden-sm hidden-xs">
        <div class="text-center">
            <a  href="http://www.c2logs.com" title="Takes you to our home page (leaves the application)." class="header">C2logs Permanent Inventory</a>
            <div class="subtitle">
                Instant Schedule II drug log for Pharmacies
            </div>
        </div>
        <button class="basic ui resize icon button"><i class="angle down icon"></i></button>
        {{#if isActiveRoute regex='home'}}
        <div class="top-site-buttons text-center">
            <div class="row">
                <div class="col-md-4">
                    {{#if $.Session.equals "appState" "trial"}}
                        <div ><div class="state-info">This is a trial site.</div>
                            You can create a trial
                            store for up to 5 months.  You can request to move your
                            data to a live site at any time.
                        </div>
                        {{#if $not currentUser}}
                            {{#if demoStore}}
                                <a href="#here" class="btn btn-default btn-lg add-pharmacy">Add a Pharmacy</a>
                            {{/if}}
                        {{/if}}
                    {{else}}
                        <div>I would like to try this out in my Pharmacy.</div>
                        <a href="http://trial.c2logs.com" class="btn btn-primary btn-lg">Go to Trial site</a>
                    {{/if}}
                </div>
                <div class="col-md-4">
                    {{#if $.Session.equals "appState" "live"}}
                        <div ><div class="state-info">This is a LIVE site.</div>
                            Add only <b>real</b> drugs and transactions.
                            If you wish to try something, use the "Sample"
                            site with this button
                            <i class="right arrow large icon"></i>
                        </div>
                    {{else}}
                        <div>I have a live account.</div>
                        <a href="http://app.c2logs.com" class="btn btn-primary btn-lg">Go to LIVE site</a>
                    {{/if}}
                </div>
                <div class="col-md-4">
                    {{#if $.Session.equals "appState" "dev"}}
                        <div ><div class="state-info">This is a Sample site.</div>
                            This is a sandbox for you to try things out.
                            {{#if $not currentUser}}
                                Click on the "Sign in" link to log in.
                                <i class="location arrow large icon"></i>
                                {{#if demoStore}}
                                    Log in with <b>demo</b>, or <b>test</b>.  Password is the same.
                                {{else}}
                                    Log in with admin, or any other user you created.
                                {{/if}}
                            {{/if}}
                            The data on this site will be periodically cleaned.
                            Don't count on anything here.
                        </div>
                        {{#if $not currentUser}}
                            {{#if demoStore}}
                                <a href="#here" class="btn btn-default btn-lg add-pharmacy">Add a Pharmacy</a>
                            {{/if}}
                        {{/if}}
                    {{else}}
                        <div>I would like to try this out in a sandbox.</div>
                        <a href="http://sandbox.c2logs.com" class="btn btn-primary btn-lg">Go to Sample site</a>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/if}}
    </div>
    <div class="visible-print-block"><h1>{{company}}</h1></div>
{{> addStoreModalOuter}}
</template>

