//
   Created by Jerry on 3/11/2015.

.modal-header
    button.close(type='button', data-dismiss='modal', aria-label='Close')
        span(aria-hidden='true') &times;
    i.ui.circle.help.icon.huge(style='float: left')
    h2 Help: Shortcuts and Recent Changes.
.modal-body
    .quickKey
        h3 Shortcut Keys
        p List of keys you can press for quick access (outside of an input field)
        ul.quickKey
            li
                span.quickKey.ui.circular.label.green.huge ?
                | Display this help
            li
                span.quickKey.ui.circular.label.green.huge A
                | Activate "add" function (if there is one)
            li
                span.quickKey.ui.circular.label.green.huge B
                | Show the Balance page
            li
                span.quickKey.ui.circular.label.green.huge D
                | Show the Drug List page
            li
                span.quickKey.ui.circular.label.green.huge R
                | Show the Receiving page
            li
                span.quickKey.ui.circular.label.green.huge S
                | Show the Stores page (if you have permission)
            if currentUser.adminUser
                li
                    span.quickKey.ui.circular.label.green.huge U
                    | Show the List of Users
    .description
        h3 Recent Changes
        +changeLog
.modal-footer
    #allDone.ui.button.positive.right.labeled.icon(data-dismiss="modal")
        | Got it.
        i.ui.checkmark.icon
