<template name="accountsAdmin">
    {{flash}}
    <div class="row accounts-search">
        <div class="col-sm-offset-4 col-sm-8 col-md-offset-6 col-md-6 col-lg-offset-8 col-lg-4 hidden-print">
            <div class="input-group">
                <span class="input-group-addon"> Filter </span>
                <!--suppress HtmlFormInputWithoutLabel -->
                <input type="text" class="form-control search-input-filter" value="{{searchFilter}}">
            </div>
            {{#if globalAdminUser}}
                <div>
                    {{#if globalAdminUser}}
                        <button class="btn btn-default" type="button" data-toggle="modal" data-target="#updateroles">
                            Manage Roles
                        </button>
                    {{/if}}
                    <div class="ui toggle checkbox">
                        <label>Show <b>global</b> users: </label>
                        <!--suppress HtmlFormInputWithoutLabel -->
                        <input name="global" type="checkbox">
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
    <div >
        {{#autoForm
        collection=users
        schema=Schemas.user
        id="addUserForm"
        type="insert"
        class="form-inline hidden-print"
        }}
            <fieldset>
                {{> afQuickField name="username" style="width:100px;"  }}
                {{> afQuickField name="name" placeholder="Full Name"}}
                {{> afQuickField name="email" label="email"}}
                <button type="submit" class="btn btn-primary addNewUser">Add New User</button>
                <button type="reset" class="btn btn-default">Reset</button>
            </fieldset>
        {{/autoForm}}
    </div>
    {{#if users.count}}
    <div class="table-responsive">
    <table class='table table-striped reactive-table'>
        <caption style="text-align: center;">
            <h2>Users and Roles</h2>
        </caption>
        <thead>
            <tr>
                <th class="hidden-print"></th>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Roles</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
                <tr class="{{#if myself _id}}info{{/if}}">
                    <td class="hidden-print">
                        {{#unless myself _id}}
                            <span data-toggle="modal" data-target="#deleteaccount" class="glyphicon glyphicon-trash clickable"></span>
                            <span data-toggle="modal" data-target="#updateaccount" class="glyphicon glyphicon-pencil clickable"></span>
                            <span data-toggle="modal" data-target="#infoaccount" class="glyphicon glyphicon-info-sign clickable"></span>
                        {{/unless}}
                    </td>
                    <td>
                        {{#if username}}
                            {{name}}
                        {{else}}
                            {{#if profile.name}}
                                {{profile.name}}
                            {{else}}
                                {{email}}
                            {{/if}}
                        {{/if}}
                    </td>
                    <td>
                        {{#if profile.name}}
                            {{profile.name}}
                        {{else}}
                            {{username}}
                        {{/if}}

                    </td>
                    <td>{{email}}</td>
                    <td>{{roles}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    </div>
    {{/if}}
    {{> updateRolesModal}}
    {{> deleteAccountModal}}
    {{> infoAccountModal}}
    {{> updateAccountModal}}
</template>
