<template name="newUserModal">
    **not used**
    <div id="newuser" class="modal fade" tabindex="-1" data-width="760" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                {{> newUserModalInner}}
            </div>
        </div>
    </div>
</template>

<template name="newUserModalInner">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2>New User</h2>
    </div>
    {{#with newuserInScope}}
        <div class="modal-body">
            <p>
                User <b>{{username}} ({{name}})</b>
                Added.
                </p><p>
                Email sent to <b>{{email}}</b>
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-primary">OK</button>
        </div>
    {{/with}}
</template>