<template name="balanceLog">
    {{flash top}}
    {{#if items.count}}
        <div id="listAll" class="ui button hidden-print">See Past Periods</div>
    {{/if}}
    {{#if doc}}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6">

                <h1>Inventory Balance
                    {{#if doc.verifiedBy}}
                        History
                    {{else}}
                        Screen
                    {{/if}}
                </h1>
                {{#autoForm collection=collection doc=doc
                id="balanceName"
                type="update"
                class="form-inline"
                autosave=true
                }}
                    {{#if history}}
                        {{> afQuickField name="title" readonly="" }}
                    {{else}}
                        {{> afQuickField name="title" }}
                        <button
                                id="countButton"
                                class="ui button {{countButtonColor}} hidden-print"
                                data-id="{{doc._id}}"
                                >
                            Inventory Snapshot
                        </button>
                    {{/if}}
                    {{#if ready2Finish}}
                        <button
                                id="finishButton"
                                class="ui button positive hidden-print"
                                data-id="{{doc._id}}"
                                data-toggle="modal" data-target="#balanceModal"
                                >
                            All Balanced
                        </button>
                    {{/if}}
                {{/autoForm}}
                {{#if history}}
                    Verified by: {{doc.verifiedBy }} {{formatDate doc.verifiedAt}}
                    <br/>
                {{/if}}
                Last Snapshot
                {{#if $not doc.lastCounted}}: never
                {{else}}
                    : by: {{doc.lastCountedBy}} {{lastCounted }}
                    {{#if $not history}}
                    {{#if $eq snapshotAge 2}}
                        <span class="ui red label">
                            <br/>
                            <i class="icon warning sign"></i>
                            This snapshot is old.
                            <i class="icon warning sign"></i>
                        </span>
                    {{/if}}
                    {{#if $eq snapshotAge 1}}
                        <span class="bg-primary">
                            <br/>
                            <i class="icon alarm"></i>
                            This snapshot is getting old.
                            <i class="icon alarm"></i>
                        </span>
                    {{/if}}
                        {{#if $gt items.count doc.items.length}}
                            <span class="bg-primary">
                                <br/>
                                <i class="icon alarm"></i>
                                New items have activated that don't show here.
                                <i class="icon alarm"></i>
                            </span>
                        {{/if}}
                    {{/if}}
                {{/if}}  <br/>
                {{#if doc.startedBy}}
                    Counting started by: {{doc.startedBy}}  {{startedAt }} <br/>
                {{/if}}
                Batch Created by: {{doc.createdBy }} {{formatDate doc.createdAt "cal"}}
            </div>
          <div class="col-xs-12 col-sm-4 bg-success " id="balanceCheckList">
            {{#if history}}
                <div class="hidden-print">
                    {{#if doc.completedAt}}
                    <h2 class="ui green header">Balance History Record</h2>
                    <p >
                        This balance record is from the past and has been completed.
                        Nothing here can be altered, you can only look at it.
                    </p>
                {{else}}
                    <h2 class="ui red header">System Error</h2>
                    <p >
                        This balance record got interrupted while posting.
                        Click on the <b>"All Balanced"</b> button
                        to finish posting the counts.  Error #1000.
                    </p>
                {{/if}}
                </div>
            {{else}}
                <h2 class="ui header">Check List</h2>
                <div class="ui list">
                    <div class="item">
                        {{#if $exists doc.title}}
                            <i class="icon check circle green"></i>
                        {{else}}
                            <i class="icon radio red"></i>
                        {{/if}}
                        Enter a title for this batch to help identify why it was done.
                    </div>
                    <div class="item">
                        {{#if $exists doc.counted}}
                            <i class="icon check circle green"></i>
                        {{else}}
                            <i class="icon radio red"></i>
                        {{/if}}
                        Create a snapshot of your inventory with "Inventory Snapshot" button.
                    </div>
                    {{#if $gt items.count doc.items.length}}
                        {{#if $exists doc.counted}}
                            <div class="item">
                                <i class="icon radio red"></i>
                                New items have activated.  Consider taking a new Inventory Snapshot.
                            </div>
                        {{/if}}
                    {{/if}}
                    {{#if snapshotAge}}
                        <div class="item">
                            <i class="icon radio red"></i>
                            Consider taking a new Inventory Snapshot.
                        </div>
                    {{/if}}
                    <div class="item">
                        {{#if allCountsEntered}}
                            <i class="icon check circle green"></i>
                        {{else}}
                            <i class="icon radio red"></i>
                        {{/if}}
                        Enter the package and individual counts on each line.
                    </div>
                    <div class="item">
                        {{#if allDone}}
                            <i class="icon check circle green"></i>
                        {{else}}
                            <i class="icon radio red"></i>
                        {{/if}}
                        If there is a shortage or surplus, make sure and fill in the Note column.
                    </div>
                    <div class="item">
                        {{#if allDone}}
                            <i class="icon check circle green"></i>
                        {{else}}
                            <i class="icon radio red"></i>
                        {{/if}}
                        Make sure the "Done" column shows all green.
                    </div>
                    <div class="item hidden-print">
                        <i class="icon radio"></i>
                        Click on the All Balanced button to finalize this inventory count.
                    </div>
                </div>
            {{/if}}
          </div>
        </div>
    </div>
  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered table-condensed pretty reactive-table">
        <caption class="aligned center ui large blue header">
            Balance Inventory
        </caption>
        <thead>
        <tr>
            <th>NDC</th>
            <th>Name</th>
            <th class="text-right">Pkg Size</th>
            <th ># Packages</th>
            <th ># Singles</th>
            <th>Balanced</th>
            <th>Discrepancy Note</th>
            <th class="hidden-print">Done</th>
        </tr>
        </thead>
        <tbody>
        {{#each $mapped doc.items}}
            {{> balanceLine }}
        {{/each}}
        </tbody>
    </table>
  </div>
    {{>balanceModalOuter}}
    {{else}}
        No current batch.
        {{#if items.count}}
            <div id="createBatch" class="ui button">Create One Now</div>
        {{else}}
            <span class="ui red label">You have no inventory yet.</span>
        {{/if}}
    {{/if}}
</template>

<template name="balanceModalOuter">
    <div id="balanceModal" class="modal fade" tabindex="-1" data-width="760" style="display:none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                {{#with ../doc}}
                    {{> balanceModal}}
                {{/with}}
            </div>
        </div>
    </div>
</template>
<template name="balanceModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <i class="ui bullseye icon massive" style="float: left"></i>
        <h2>Finished with Balancing "{{title}}"</h2>
    </div>
    <div class="modal-body">
        <div class="description">
            <p>
                Once you click on the "All Done" button, all of your transactions
                before {{formatDate lastCounted}} will be marked as "verified"
                and your last verified counts for all drugs will be set.
            </p>
            <p><span class="ui circular label black">{{items.length}}</span> total drugs will be balanced.
                Out of these, count of those that balanced exactly:
                {{#if shortCount 0}}
                    <span class="ui circular label green">{{shortCount 0}}</span>
                {{else}}
                    <span class="ui circular label red">none</span>
                {{/if}}

            </p>
            <p>Drugs that had short counts, and will be removed from inventory:
                {{#if shortCount}}
                    <span class="ui circular label red">{{shortCount}}</span>
                {{else}}<b>none</b>
                {{/if}}
            </p>
            <p>Drugs with excess count, and will be added to inventory:
                {{#if shortCount "+"}}
                    <span class="ui circular label red">{{shortCount "+"}}</span>
                {{else}}<b>none</b>
                {{/if}}
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <!--<button type="button" data-dismiss="modal" class="btn btn-primary">OK</button>-->
        <div class="ui button negative" data-dismiss="modal">not yet</div>
        <div class="ui button positive right labeled icon" id="allDone">All Done
            <i class="ui checkmark icon"></i>
        </div>
    </div>
</template>


<template name="balanceLine">
    <tr>
        <td class="NDC">{{NDC}}</td>
        <td>{{name}}</td>
        <td class="text-right">{{pkgSize}}</td>
        <td class="text-right">
            {{#if $exists balance}}
                <input class="form-control" type="number" name="packageCount" min="0"
                       value="{{packageCount}}" placeholder="unopen"
                       data-line-number="{{$index}}" style="width:100px;"
                        {{readonly}}
                        />
            {{else}}

            {{/if}}
        </td>
        <td class="text-right">
            {{#if $exists balance}}
                <input class="form-control" type="number" name="extraCount" min="0"
                       value="{{extraCount}}" placeholder="loose"
                       data-line-number="{{$index}}" style="width:100px;"
                        {{readonly}}
                        />
            {{else}}

            {{/if}}
        </td>
        <td>
            {{#if $exists balance}}
                {{#if $eq calcBalance 0}}
                    <i class="large icon checkmark green"></i>
                {{else}}
                    <i class=" icon remove red"></i>
                    ( {{calcBalance}} )
                {{/if}}
            {{else}}
                <i class="large icon minus yellow"></i>
            {{/if}}
        </td>
        <td>
            {{#if calcBalance}}
                <input class="form-control" type="text" name="note"
                       value="{{note}}" placeholder="reason"
                       data-line-number="{{$index}}"
                        {{readonly}}
                        />
            {{/if}}
        </td>
        <td class="hidden-print">
            {{#if allDone}}
                <i class="large icon selected radio green"></i>
            {{else}}
                <i class="large icon circle minus red"></i>
            {{/if}}
        </td>
    </tr>

</template>

<template name="balancePeriods">
  <div><h2 class="text-center">Past Balanced Periods</h2></div>
  <div class="table-responsive">
    {{#if $and data data.count}}
        {{> reactiveTable collection=data
        settings=rtSettings
        }}
    {{else}}
        <div
             style="
         margin: 100px auto;
         width: 400px;
         ">
            <p>No past records yet</p>
        </div>
    {{/if}}
  </div>
</template>
