<template name="shipments">
    {{flash}}
        <div id="add-button" class="ui labeled icon add button pull-left hidden-print">
            <i class="big plus icon"></i>
                Add New Shipment
        </div>
    <div class="table-responsive">
        {{> reactiveTable collection=collection settings=rtSettings}}
    </div>

</template>

<template name="shipment">
    {{flash top}}
    <!--BS3 modal-->
    <div class="modal fade" id="confirmFinalize" tabindex="-1" role="dialog" aria-hidden="true"
         aria-labelledby="modelTitle">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title" id="modalTitle">
                        Finalize Order
                    </h4>
                </div>
                <div class="modal-body">
                    <p>
                        Are you sure this order is correct?
                        Click "Finalize" to add all of these counts to inventory.
                        (This cannot be un-done)
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="finalize" type="button" data-dismiss="modal">Finalize</button>
                    <button class="btn btn-default" type="button" data-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>
    <!--end of modal-->
    <div class="ui labeled icon back button hidden-print">
        <i class="big left arrow icon"></i>
        Back to list of Shipments screen
    </div>
    <h1>Shipment
        {{#if notFinal}}
            {{formType}}.
        {{else}}
            History.
        {{/if}}
        {{#if doc.items}}
            <span> Lines:
                <span class="ui circular big label teal hidden-print">{{getLength doc.items}}</span>
                <span class="visible-print-inline">{{getLength doc.items}}</span>
            </span>
        {{/if}}
    </h1>
    {{#autoForm
    collection=collection
    id="insertShipment"
    type=formType
    class="form-inline hidden-print"
    autosave=true
    doc=doc
    }}
        {{#if notFinal}}
            {{> afQuickField name="invoice" label="Invoice/PO#" }}
            {{> afQuickField name="company" label="Supplier" }}
            {{#if $eq formType "insert"}}
                <button class="ui button primary" type="submit">Create</button>
            {{/if}}
            {{#if $.Session.get "dataChanged"}}
                <div class="ui buttons">
                    <div class="ui positive button" id="update">Confirm</div>
                    <div class="or"></div>
                    <div class="ui negative button" id="reset">Reset</div>
                </div>
                    <span>Packages Received values.
                        (Number(s) in green not saved yet.)
                    </span>
            {{else}}
                {{#if getLength doc.items}}
                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#confirmFinalize">
                        Finalize Order
                    </button>
                {{/if}}
            {{/if}}
        {{else}}
            {{> afQuickField name="invoice" readonly="" }}
            {{> afQuickField name="company" readonly="" }}
            {{> afQuickField name="verifiedBy" readonly="" }}
            {{> afQuickField name="verifiedAt" readonly="" }}
        {{/if}}
    {{/autoForm}}
    <div class="visible-print-block" style="height: 40px;">
        <b>Verified By</b> {{doc.verifiedBy}}
        <b> At</b> {{doc.verifiedAt}}
    </div>
    {{#if $eq formType "update"}}
        {{> selectItems}}
    {{/if}}

</template>

<template name="selectItems">
  <div class="table-responsive">
    <table class="table table-striped table-hover table-bordered table-condensed pretty  reactive-table">
        <caption class="aligned center ui large blue header">
            Summary of item received for invoice {{../doc.invoice}}
        </caption>
        <thead>
        <tr>
            <th>NDC</th>
            <th>Name</th>
            <th class="text-right">Package Size</th>
            <th class="text-right">Packages Received</th>
            <th>Total</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {{#each ../doc.items}}
            <tr class="{{rowClass}}">
                <td class="NDC">{{NDC}}</td>
                <td>{{name}}</td>
                <td class="text-right">{{qtyUnit}}</td>
                <td class="text-right">
                {{#if notFinal}}
                    <form id="{{id}}">
                        <input type="number" label="Quantity" min="1" name="quantity"
                               value={{quantity}} style="width:100px;float:right;"
                               class="quantity form-control" tabindex="1">
                        <input type="hidden" name="last_quantity" value={{quantity}}>
                    </form>
                {{else}}
                    {{quantity}}
                {{/if}}
                </td>
                <td>{{qtyString}}</td>
                <td>
                    {{#if allowDelete}}
                    <div class='ui tiny negative remove button'>
                        Remove
                    </div>
                    <input value="{{id}}" type="hidden"/>
                    {{/if}}
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    {{#if notFinal}}
        <div>
            <h1 class="aligned center ui large blue header">
                Select from the following drugs.
            </h1>
        </div>
        {{flash "add"}}
        <div class="col-sm-7">&nbsp;</div>
        {{> drugsToggle}}
        {{> reactiveTable id="drugsList" collection=products settings=rtSettings}}
    {{/if}}
  </div>
</template>

