<template name="notFound">
    <div id="pageContainer"
         style="
         margin: 100px auto;
         width: 400px;
         ">
        Seems like this page doesn't exist<br />
        <a href="{{urlFor 'home'}}">Go to home</a>
    </div>
</template>

<template name="notLoggedIn">
    <div id="pageContainer"
         style="
         margin: 100px auto;
         width: 400px;
         ">
        {{#if currentUser}}
            <p>You are logged in as <b>{{username}}</b>. <br>
                You may log in as a different user below.</p>
        {{else}}
            <p>Not logged in</p>
        {{/if}}

        <form id="login">
            <input type="text" name="loginName" placeholder="User Name">
            <input type="password" name="loginPassword" placeholder="Password">
            <div id="loginError" style="color: red;">{{loginErrorMessage}}</div>
            <input type="submit" value="Login">
        </form>
        {{#if demoStore}}
            <div id="storeMessage" class="bg-success">
                This browser is not registered to a store.  Please use the link in your
                original email to register your store before attempting to log in
                from this browser on this machine.
            </div>
        {{/if}}
    </div>
</template>
