.details {
  font-weight: bold;
  font-size: 2em;
  padding: 10px 0;
  text-align: center;
}
.prodheader .name {
  font-size: 1.5em;
}

.prodheader > .subhead {
  font-size: .6em;
  &> .available {
    font-size: large;
    font-weight: bolder;
  }
}

table.pretty {
  &.pointer tr:hover {
    cursor: pointer;
  }
  tr.inactive {
    color: tan;
  }
  tr {
    &> .text-right, > .lastQty, > .curQty {
      text-align: right;
     }
  }

  tr:hover {
    td {
      background: #e8d3de;
    }
  }
}
tr.selected td, table.pretty > tr.selected td, table.pretty tr.selected:nth-child(odd) td {
   background-color: yellow;
   font-size: larger;
   font-weight: bold;
 }


#insertTrxForm {
  & input {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    width: 100%;
  }
  & button{
    //    H align submit button
    margin-top: 13px;}
  & .form-group:nth-of-type(3){
    // qty
    width: 100px}
  & .form-group:nth-of-type(4){
    // date
    width: 160px}
}
