<template name="drug">
    {{flash}}
    <div class="ui labeled icon back button">
        <i class="big left arrow icon"></i>
        Back to list of Drugs screen
    </div>    <div class="details">
        <div class="prodheader">
            <span class="name">{{desc}}</span>

            <div class="subhead">
                NDC: <span class="NDC">{{NDC}}</span>
            </div>
            {{#if active}}
                <div class="subhead">
                    Maximum available for dispensing:
                    <span class="available ui circular label {{color}}">{{curQty}}</span>
                </div>
            {{/if}}
        </div>
    </div>
    {{> trxList}}
</template>

<template name="trxList">
    <div id="transactions_section" class="table-responsive" >
        {{> insertTrx}}
        {{#if trxCount}}
        <table class="table pretty reactive-table" id="trxList_table">
            <caption>
                <h2>Inventory Transactions</h2><br/>
            </caption>
            <thead>
            <tr>
                <th scope="col">Entered by</th>
                <th scope="col">Entered on</th>
                <th scope="col">Rx/Order #</th>
                <th scope="col">Type</th>
                <th scope="col">Quantity</th>
                <th scope="col">Balance</th>
                <th scope="col">Date</th>
                <th scope="col">Verified by</th>
                <th scope="col">Verified on</th>
                <th scope="col">Counted on</th>
                <th scope="col">Comments</th>
            </tr>
            </thead>
            <tbody>
            {{#each trxs}}
                {{> trxRow}}
            {{/each}}
            </tbody>
        </table>
        {{else}}
            <div>No Transactions Yet.</div>
        {{/if}}
    </div>
</template>

<template name="trxRow">
    <tr>
        <td class="left">{{createdBy}}</td>
        <td class="left">{{formatDate createdAt}}</td>
        <td class="left">{{rx}}</td>
        <td class="left">{{type}}</td>
        <td class="text-right">{{qty}}</td>
        <td class="text-right">{{curqty}}</td>
        <td class="left">{{formatDate trxDate "D"}}</td>
        <td class="left">{{verifiedBy}}</td>
        <td class="left">{{formatDate verifiedAt}}</td>
        <td class="left">{{formatDate countedAt}}</td>
        <td class="left">{{comment}}</td>
    </tr>
</template>

<template name="insertTrx">
{{#autoForm
    collection=Collections.transactions
    id="insertTrxForm"
    type="insert"
    class="form-inline"
}}
    <fieldset>
        {{> afQuickField name="rx" autofocus="" }}
        {{> afQuickField name="type" label-class="sr-only" style="margin-top: 21px;"}}
        {{> afQuickField name="qty"}}
        {{> afQuickField name="trxDate" value=current_day}}
        {{> afQuickField name="comment"}}
        <button type="submit" class="btn btn-primary">Log This</button>
        <button type="reset" class="btn btn-default">Reset</button>
    </fieldset>
{{/autoForm}}
</template>



