<template name="footer">
    <div class="ui inverted green padding-wrapper footer segment">
        <span class="hidden-xs">project by Jerry McRae and
        Mike Gilbert</span>
        <div class="secondary pull-right">
            &copy; 2015-2018 Integrity Calculation Systems | 877-4C2logs | email:help-at-C2logs
            <!--<a class="unstyled link" href="http://comcalc.com">Integrity Calculation Systems</a>-->
        </div>
    </div>
    <div id="gototop" class="hidden">
        <div class="circular ui icon button ">
            <i class="large arrow up icon"></i>
            top
        </div>
    </div>
    {{> helpModalOuter}}
</template>

<template name="helpModalOuter">
    <div id="helpModal" class="modal fade" tabindex="-1" data-width="760" style="display:none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                {{> helpModal}}
            </div>
        </div>
    </div>
</template>


